Repository wikimedia/integration-zuul: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-stream-functional, zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

zuul-stream-functional:
  parent: multinode
  nodeset: zuul-functional-temp-master
  pre-run: playbooks/zuul-stream/pre.yaml
  run: playbooks/zuul-stream/functional.yaml
  post-run:
  - playbooks/zuul-stream/post.yaml
  - playbooks/zuul-stream/post-ara.yaml
  required-projects:
  - openstack/ara

zuul-build-dashboard:
  parent: build-javascript-content
  success-url: npm/html/
  vars:
    javascript_content_dir: ../zuul/web/static
    zuul_work_dir: '{{ zuul.project.src_dir }}/web'
    zuul_api_url: https://zuul.openstack.org
  run: playbooks/dashboard/run.yaml

zuul-build-dashboard-multi-tenant:
  parent: zuul-build-dashboard
  vars:
    zuul_api_url: https://softwarefactory-project.io/zuul

tox-py36:
  nodeset: ubuntu-bionic

nodejs-npm-run-test:
  vars:
    node_version: 8
    zuul_work_dir: '{{ zuul.project.src_dir }}/web'
  success-url: npm/reports/bundle.html

Try out reporting the build page
  .zuul.yaml
Due: tox-py35, tox-py36

Always record the log_url in sql reporter
  tests/unit/test_connection.py
  zuul/driver/sql/sqlreporter.py
Due: tox-py35, tox-py36

Use a requests session to simplify auth'd calls
  zuul/cmd/client.py
Due: tox-py35, tox-py36

Make tenant and pipeline optional in zuul-changes
  tools/zuul-changes.py
Due: tox-py35, tox-py36

Provide buildset.uuid in /builds API result
  zuul/web/__init__.py
Due: tox-py35, tox-py36

Fix uneven distribution of jobs
  zuul/executor/server.py
  zuul/lib/gearworker.py
Due: tox-py35, tox-py36

Update ara to >=0.16.5 to support ansible 2.8
  zuul/lib/ansible-config.conf
Due: tox-py35, tox-py36

Use wait for empty update queue before accepting merges
  zuul/executor/server.py
Due: tox-py35, tox-py36

Render console in js
  web/src/actions/build.js
  web/src/containers/build/Build.jsx
  web/src/containers/build/Console.jsx
  web/src/index.css
  web/src/reducers/build.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Usability tweaks for the build page console
  web/src/containers/build/Console.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Don't always show expansion option on build console
  web/src/containers/build/Console.jsx
  web/src/index.css
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Adjust results headings in build console page
  web/src/containers/build/Console.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Scroll log line anchor into view
  web/src/pages/LogFile.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Refactor build page tabs
  web/src/containers/build/Build.jsx
  web/src/containers/build/Manifest.jsx
  web/src/containers/build/Summary.jsx
  web/src/pages/BuildConsole.jsx
  web/src/pages/BuildLogs.jsx
  web/src/routes.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Add option to report build page
  doc/source/admin/components.rst
  doc/source/admin/drivers/sql.rst
  doc/source/admin/tenants.rst
  releasenotes/notes/report-build-page-49088c2b0a36e1b5.yaml
  tests/fixtures/config/build-page/git/common-config/playbooks/python27.yaml
  tests/fixtures/config/build-page/git/common-config/zuul.yaml
  tests/fixtures/config/build-page/git/org_project1/README
  tests/fixtures/config/build-page/git/org_project1/zuul.yaml
  tests/fixtures/config/build-page/git/org_project2/README
  tests/fixtures/config/build-page/git/org_project2/zuul.yaml
  tests/fixtures/config/build-page/git/org_project3/README
  tests/fixtures/config/build-page/git/org_project3/zuul.yaml
  tests/fixtures/config/build-page/main.yaml
  tests/fixtures/zuul.conf
  tests/unit/test_scheduler.py
  zuul/configloader.py
  zuul/model.py
  zuul/scheduler.py
Due: tox-py35, tox-py36

Add permalinks to task detail popup
  web/src/containers/build/Console.jsx
  web/src/index.css
  web/src/pages/BuildConsole.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Hide "root" variable in job web page
  web/src/containers/job/JobVariant.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

web: refactor the errorsIds into the build action
  web/src/actions/build.js
  web/src/containers/build/Console.jsx
  web/src/pages/BuildConsole.jsx
  web/src/reducers/build.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Correctly identify failed tasks
  web/src/actions/build.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Refactor task result detection
  web/src/containers/build/Console.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

web: add buildset page
  web/src/actions/build.js
  web/src/api.js
  web/src/containers/build/Buildset.jsx
  web/src/pages/Buildset.jsx
  web/src/pages/Buildsets.jsx
  web/src/reducers/build.js
  web/src/routes.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Revert "Try out reporting the build page"
  .zuul.yaml
Due: tox-py35, tox-py36

Cap GitPython <3.0.0
  requirements.txt
Due: zuul-stream-functional, tox-py35, tox-py36

Add release note for Pagure driver
  releasenotes/notes/pagure-driver-cdd37b0c438e3387.yaml
Due: tox-py35, tox-py36

Move admin-rules setting in tenants doc
  doc/source/admin/tenants.rst
Due: tox-py35, tox-py36

Make auth docs more boring
  doc/source/admin/client.rst
  doc/source/admin/tenant-scoped-rest-api.rst
  doc/source/admin/tenants.rst
  doc/source/developer/specs/tenant-scoped-admin-web-API.rst
Due: tox-py35, tox-py36

Don't capitalize Token in docs
  doc/source/admin/tenant-scoped-rest-api.rst
  doc/source/admin/tenants.rst
Due: tox-py35, tox-py36

executor: resolve build root real path
  zuul/executor/server.py
Due: tox-py35, tox-py36

Install yarn before building python artifacts
  .zuul.yaml
  playbooks/release/pre.yaml
  releasenotes/notes/fix-missing-yarn-files-a9e0f8b0c78def39.yaml
Due: tox-py35, tox-py36

Override the job name from which we promote
  .zuul.yaml
Due: tox-py35, tox-py36

Switch to review.opendev.org for README.rst
  README.rst
Due: tox-py35, tox-py36

Set failed, unreachable, skipped statuses in json plugin
  zuul/ansible/base/callback/zuul_json.py
Due: zuul-stream-functional, tox-py35, tox-py36

web: link the buildset page from the build
  web/src/containers/build/Summary.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Fix double slash in log browsing
  web/src/containers/build/Manifest.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Ensure tenant web_root url has a trailing slash
  zuul/configloader.py
Due: tox-py35, tox-py36

JS: account for header when scrolling to line
  web/src/pages/LogFile.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

JS: Break log viewer out of the panel
  web/src/containers/logfile/LogFile.jsx
  web/src/index.css
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

JS: add line numbers to log file
  web/src/containers/logfile/LogFile.jsx
  web/src/index.css
  web/src/pages/LogFile.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

web: logfile highlight selected line
  web/src/index.css
  web/src/pages/LogFile.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

web: logfile do not scroll into view more than once
  web/src/pages/LogFile.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Path conditions:
  zuul-stream-functional: any of: zuul/ansible/.*, playbooks/zuul-stream/.*, requirements.txt
  zuul-build-dashboard: any of: web/.*, playbooks/dashboard/.*
  zuul-build-dashboard-multi-tenant: any of: web/.*, playbooks/dashboard/.*
  tox-py35: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py36: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  nodejs-npm-run-test: any of: web/.*
