Repository wikimedia/integration-zuul: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-stream-functional, zuul-stream-functional-2.6, zuul-stream-functional-2.7, zuul-stream-functional-2.8, zuul-stream-functional-2.9, zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py37, nodejs-npm-run-test

zuul-stream-functional:
  parent: multinode
  nodeset: zuul-functional-temp-master
  pre-run: playbooks/zuul-stream/pre.yaml
  run: playbooks/zuul-stream/functional.yaml
  post-run:
  - playbooks/zuul-stream/post.yaml
  - playbooks/zuul-stream/post-ara.yaml

zuul-stream-functional-2.6:
  parent: zuul-stream-functional
  ansible-version: 2.6
  vars:
    zuul_ansible_version: 2.6

zuul-stream-functional-2.7:
  parent: zuul-stream-functional
  ansible-version: 2.7
  vars:
    zuul_ansible_version: 2.7

zuul-stream-functional-2.8:
  parent: zuul-stream-functional
  ansible-version: 2.8
  vars:
    zuul_ansible_version: 2.8

zuul-stream-functional-2.9:
  parent: zuul-stream-functional
  success-url: http://zuul.opendev.org/t/zuul/build/{build.uuid}
  failure-url: http://zuul.opendev.org/t/zuul/build/{build.uuid}
  vars:
    zuul_ansible_version: 2.9

zuul-build-dashboard:
  parent: build-javascript-content
  success-url: npm/html/
  vars:
    javascript_content_dir: ../zuul/web/static
    zuul_work_dir: '{{ zuul.project.src_dir }}/web'
    zuul_api_url: https://zuul.openstack.org
    node_version: 10
  run: playbooks/dashboard/run.yaml

zuul-build-dashboard-multi-tenant:
  parent: zuul-build-dashboard
  vars:
    zuul_api_url: https://softwarefactory-project.io/zuul
    node_version: 10

tox-py35:
  nodeset: ubuntu-xenial
  timeout: 4800
  vars:
    test_setup_environment:
      ZUUL_TEST_ROOT: /tmp/zuul-test
    tox_environment:
      ZUUL_TEST_ROOT: /tmp/zuul-test

tox-py37:
  timeout: 4800
  nodeset: ubuntu-bionic
  vars:
    test_setup_environment:
      ZUUL_TEST_ROOT: /tmp/zuul-test
    tox_environment:
      ZUUL_TEST_ROOT: /tmp/zuul-test

nodejs-npm-run-test:
  vars:
    node_version: 10
    zuul_work_dir: '{{ zuul.project.src_dir }}/web'
  success-url: npm/reports/bundle.html

Ignore source_context and description in job changes
  zuul/model.py
Due: tox-py35, tox-py37

Validate ansible extra packages
  tests/unit/test_executor.py
  tests/unit/test_lib_ansible.py
  zuul/lib/ansible.py
Due: zuul-stream-functional, zuul-stream-functional-2.6, zuul-stream-functional-2.7, zuul-stream-functional-2.8, zuul-stream-functional-2.9, tox-py35, tox-py37

Remove dmsimard from zuul-jobs maintainers
  doc/source/reference/governance.rst
Due: tox-py35, tox-py37

executor: Catch error when reading cpu_times
  zuul/executor/server.py
Due: tox-py35, tox-py37

Replace preexec_fn argument in executor popen call
  zuul/executor/server.py
Due: tox-py35, tox-py37

Fix unused argument triggering flake8
  zuul/ansible/base/callback/zuul_stream.py
Due: zuul-stream-functional, zuul-stream-functional-2.6, zuul-stream-functional-2.7, zuul-stream-functional-2.8, zuul-stream-functional-2.9, tox-py35, tox-py37

Allow check runs to be configured as required status in pipeline config
  doc/source/reference/drivers/github.rst
  releasenotes/notes/github-require-check-294d3f27da790fae.yaml
  tests/fixtures/layouts/requirements-github.yaml
  tests/unit/test_github_requirements.py
  zuul/driver/github/githubconnection.py
Due: tox-py35, tox-py37

Require procps also for dpkg platforms
  bindep.txt
Due: tox-py35, tox-py37

Provide some documentation for the checks API implementation
  doc/source/discussion/github-checks-api.rst
  doc/source/discussion/index.rst
Due: tox-py35, tox-py37

Enables whitelisting and configuring callbacks
  doc/source/discussion/components.rst
  releasenotes/notes/ansible-callbacks-c3bfce1a5cae6b15.yaml
  tests/fixtures/config/ansible-callbacks/git/common-config/playbooks/callback.yaml
  tests/fixtures/config/ansible-callbacks/git/common-config/playbooks/callback_plugins/test_callback.py
  tests/fixtures/config/ansible-callbacks/git/common-config/zuul.yaml
  tests/fixtures/config/ansible-callbacks/main.yaml
  tests/fixtures/zuul-executor-ansible-callback.conf
  tests/unit/test_executor.py
  zuul/executor/server.py
Due: tox-py35, tox-py37

Switch back to python 3.7
  .zuul.yaml
  Dockerfile
Due: tox-py35, tox-py37

Deprecate ansible 2.7
  releasenotes/notes/ansible-27-deprecated-cd82a8a47a10a8c7.yaml
  zuul/lib/ansible-config.conf
Due: zuul-stream-functional, zuul-stream-functional-2.6, zuul-stream-functional-2.7, zuul-stream-functional-2.8, zuul-stream-functional-2.9, tox-py35, tox-py37

Specifically use python 3.7 base images
  .zuul.yaml
  Dockerfile
Due: tox-py35, tox-py37

Report dequeued changes via Github checks API
  doc/source/reference/drivers/github.rst
  doc/source/reference/pipeline_def.rst
  releasenotes/notes/dequeue-reporting-620f364309587304.yaml
  tests/fixtures/layouts/dequeue-reporting.yaml
  tests/fixtures/layouts/reporting-github.yaml
  tests/unit/test_github_driver.py
  tests/unit/test_reporting.py
  zuul/configloader.py
  zuul/driver/github/githubreporter.py
  zuul/manager/__init__.py
  zuul/model.py
  zuul/reporter/__init__.py
Due: tox-py35, tox-py37

Fix loading_errors bug
  tests/fixtures/config/broken-multi-tenant/git/common-config/playbooks/job.yaml
  tests/fixtures/config/broken-multi-tenant/git/common-config/zuul.yaml
  tests/fixtures/config/broken-multi-tenant/git/org_project1/README
  tests/fixtures/config/broken-multi-tenant/git/org_project2/README
  tests/fixtures/config/broken-multi-tenant/git/org_project2/zuul.yaml
  tests/fixtures/config/broken-multi-tenant/git/org_project3/README
  tests/fixtures/config/broken-multi-tenant/git/org_project3/zuul.yaml
  tests/fixtures/config/broken-multi-tenant/main.yaml
  tests/unit/test_v3.py
  zuul/manager/__init__.py
Due: tox-py35, tox-py37

Default to Ansible 2.9
  releasenotes/notes/ansible-29-default-067e82c48805c5d5.yaml
  tests/fixtures/config/ansible-versions/git/common-config/zuul.yaml
  zuul/lib/ansible-config.conf
Due: zuul-stream-functional, zuul-stream-functional-2.6, zuul-stream-functional-2.7, zuul-stream-functional-2.8, zuul-stream-functional-2.9, tox-py35, tox-py37

add installation manual for Ubuntu
  doc/source/howtos/nodepool_install.rst
  doc/source/howtos/ubuntu_setup.rst
  doc/source/howtos/zuul-from-scratch.rst
  doc/source/howtos/zuul_install.rst
Due: tox-py35, tox-py37

Gitlab - avoid duplicates in the cache
  zuul/driver/gitlab/gitlabconnection.py
Due: tox-py35, tox-py37

Gitlab - allow to use the 'zuul enqueue' command
  zuul/driver/gitlab/gitlabconnection.py
Due: tox-py35, tox-py37

Remove ununecessary shebangs
  zuul/ansible/base/actiongeneral/zuul_return.py
  zuul/cmd/__init__.py
  zuul/cmd/client.py
  zuul/cmd/executor.py
  zuul/cmd/fingergw.py
  zuul/cmd/manage_ansible.py
  zuul/cmd/migrate.py
  zuul/cmd/scheduler.py
  zuul/cmd/web.py
  zuul/lib/re2util.py
  zuul/web/__init__.py
Due: zuul-stream-functional, zuul-stream-functional-2.6, zuul-stream-functional-2.7, zuul-stream-functional-2.8, zuul-stream-functional-2.9, tox-py35, tox-py37

Increase wait time in remote tests
  tests/remote/test_remote_action_modules.py
  tests/remote/test_remote_zuul_stream.py
Due: tox-py35, tox-py37

set Access-Control-Allow-Origin header for autohold
  zuul/web/__init__.py
Due: tox-py35, tox-py37

Fix trivial typo in glossary
  doc/source/reference/glossary.rst
Due: tox-py35, tox-py37

Update node to v14 and update to new jobs
  .zuul.yaml
  playbooks/dashboard/run.yaml
  tools/pip.sh
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py37

Include extra, host, and group variables in job serialization
  tests/unit/test_web.py
  zuul/model.py
Due: tox-py35, tox-py37

Add new timezone selector in web interface
  releasenotes/notes/web-timezone-select-901e4f9ff3aee1f1.yaml
  web/package.json
  web/src/App.jsx
  web/src/actions/timezone.js
  web/src/containers/build/Summary.jsx
  web/src/containers/timezone/SelectTz.jsx
  web/src/pages/Builds.jsx
  web/src/pages/Status.jsx
  web/src/reducers/index.js
  web/src/reducers/timezone.js
  web/yarn.lock
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py37, nodejs-npm-run-test

Support dynamic badges
  doc/source/howtos/badges.rst
  releasenotes/notes/dynamic-badges-9b0e7a39e73775ba.yaml
  tests/unit/test_web.py
  web/public/failing.svg
  web/public/openapi.yaml
  web/public/passing.svg
  zuul/web/__init__.py
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py37, nodejs-npm-run-test

Update to create-react-app 3.4.1
  tests/unit/test_web_urls.py
  web/.eslintrc
  web/package.json
  web/src/App.test.jsx
  web/src/actions/build.test.js
  web/src/actions/change.js
  web/src/actions/job.js
  web/src/actions/jobs.js
  web/src/actions/project.js
  web/src/actions/projects.js
  web/src/actions/status.js
  web/src/api.js
  web/src/containers/Refreshable.jsx
  web/src/containers/TableFilters.jsx
  web/src/containers/status/ChangePanel.test.jsx
  web/src/pages/ChangeStatus.jsx
  web/src/pages/ConfigErrors.jsx
  web/src/pages/Status.jsx
  web/src/pages/Stream.jsx
  web/yarn.lock
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py37, nodejs-npm-run-test

web: remove status page componentDidUpdate implementation
  web/src/pages/Status.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py37, nodejs-npm-run-test

gerrit: disable poller when no http authentication is defined
  zuul/driver/gerrit/gerritconnection.py
Due: tox-py35, tox-py37

requirements: add explicit reference to dateutil
  requirements.txt
Due: tox-py35, tox-py37

Add release note about the final 3.x release
  doc/source/howtos/zookeeper.rst
  doc/source/reference/drivers/sql.rst
  releasenotes/notes/last3x-8682ada4910fa750.yaml
Due: tox-py35, tox-py37

executor: add extra kubectl port-forward debug and releasenotes
  releasenotes/notes/kubectl-port-forward-b6e5e8033c9b9ede.yaml
  zuul/executor/server.py
Due: tox-py35, tox-py37

last3x release note: fix a typo
  releasenotes/notes/last3x-8682ada4910fa750.yaml
Due: tox-py35, tox-py37

Use Absolute path in zk-ca.sh for openssl config
  tools/zk-ca.sh
Due: tox-py35, tox-py37

zookeeper-howto: update to match zk-ca.sh
  doc/source/howtos/zookeeper.rst
Due: tox-py35, tox-py37

Docs: CPD between non-shared-queue changes
  doc/source/discussion/gating.rst
Due: tox-py35, tox-py37

Fix quickstart gating, Add git name and email to executor
  zuul/merger/server.py
Due: tox-py35, tox-py37

Replace deprecated Thread.isAlive() with Thread.is_alive()
  zuul/ansible/base/library/command.py
  zuul/lib/log_streamer.py
Due: zuul-stream-functional, zuul-stream-functional-2.6, zuul-stream-functional-2.7, zuul-stream-functional-2.8, zuul-stream-functional-2.9, tox-py35, tox-py37

Path conditions:
  zuul-stream-functional: any of: zuul/ansible/.*, zuul/lib/ansible*, playbooks/zuul-stream/.*
  zuul-stream-functional-2.6: any of: zuul/ansible/.*, zuul/lib/ansible*, playbooks/zuul-stream/.*
  zuul-stream-functional-2.7: any of: zuul/ansible/.*, zuul/lib/ansible*, playbooks/zuul-stream/.*
  zuul-stream-functional-2.8: any of: zuul/ansible/.*, zuul/lib/ansible*, playbooks/zuul-stream/.*
  zuul-stream-functional-2.9: any of: zuul/ansible/.*, zuul/lib/ansible*, playbooks/zuul-stream/.*
  zuul-build-dashboard: any of: web/.*, playbooks/dashboard/.*
  zuul-build-dashboard-multi-tenant: any of: web/.*, playbooks/dashboard/.*
  tox-py35: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py37: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  nodejs-npm-run-test: any of: web/.*
