Repository wikimedia/integration-zuul: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-stream-functional, zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Path conditions:
  zuul-stream-functional: any of: zuul/ansible/.*, playbooks/zuul-stream/.*, requirements.txt
  zuul-build-dashboard: any of: web/.*, playbooks/dashboard/.*
  zuul-build-dashboard-multi-tenant: any of: web/.*, playbooks/dashboard/.*
  tox-py35: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py36: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  nodejs-npm-run-test: any of: web/.*

Allow operator to generate auth tokens through the CLI
  doc/source/admin/client.rst
  tests/unit/test_client.py
  zuul/cmd/client.py
Due: tox-py35, tox-py36

Fix typo in debug message
  zuul/model.py
Due: tox-py35, tox-py36

Switch to opendev release/docs jobs
  .zuul.yaml
Due: tox-py35, tox-py36

Annotate canMerge check with event id
  zuul/driver/gerrit/gerritconnection.py
  zuul/driver/gerrit/gerritsource.py
  zuul/driver/git/gitsource.py
  zuul/driver/github/githubconnection.py
  zuul/driver/github/githubsource.py
  zuul/driver/pagure/pagureconnection.py
  zuul/driver/pagure/paguresource.py
  zuul/manager/__init__.py
  zuul/manager/dependent.py
  zuul/source/__init__.py
Due: tox-py35, tox-py36

Build layout of non-live items with config updates
  tests/unit/test_gerrit.py
  tests/unit/test_scheduler.py
  tests/unit/test_v3.py
  zuul/manager/__init__.py
Due: tox-py35, tox-py36

Handle existing broken config in job updates
  tests/fixtures/config/job-update-broken/git/common-config/playbooks/run.yaml
  tests/fixtures/config/job-update-broken/git/common-config/zuul.yaml
  tests/fixtures/config/job-update-broken/git/org_project/README
  tests/fixtures/config/job-update-broken/git/org_project/zuul.d/existing.yaml
  tests/fixtures/config/job-update-broken/git/org_project/zuul.d/project.yaml
  tests/fixtures/config/job-update-broken/main.yaml
  tests/unit/test_scheduler.py
  zuul/model.py
Due: tox-py35, tox-py36

Unify gearman worker handling
  tests/base.py
  tests/unit/test_scheduler.py
  zuul/driver/github/githubconnection.py
  zuul/executor/server.py
  zuul/lib/gearworker.py
  zuul/merger/server.py
  zuul/rpclistener.py
  zuul/scheduler.py
Due: tox-py35, tox-py36

Logging of reconfiguration durations in Zuul
  zuul/scheduler.py
Due: tox-py35, tox-py36

Add "supercedes" pipeline option
  doc/source/user/config.rst
  releasenotes/notes/pipeline-supercedes-ba622ac28df61ffd.yaml
  tests/fixtures/layouts/pipeline-supercedes.yaml
  tests/unit/test_scheduler.py
  tests/unit/test_v3.py
  zuul/configloader.py
  zuul/manager/__init__.py
  zuul/model.py
Due: tox-py35, tox-py36

Correct git-review install in CentOS 7 quick-start
  doc/source/admin/quick-start.rst
Due: tox-py35, tox-py36

Run cleanup playbooks in job thread
  zuul/executor/server.py
Due: tox-py35, tox-py36

web: Add warning about incompleteness of OpenAPI spec
  doc/source/user/web.rst
Due: tox-py35, tox-py36

Update examples in MQTT reporter docu
  doc/source/admin/drivers/mqtt.rst
Due: tox-py35, tox-py36

Parse nodeset.group.nodes as a list
  zuul/configloader.py
Due: tox-py35, tox-py36

Record and report time for trigger events
  doc/source/admin/drivers/mqtt.rst
  tests/unit/test_connection.py
  zuul/driver/gerrit/gerritconnection.py
  zuul/driver/git/gitconnection.py
  zuul/driver/github/githubconnection.py
  zuul/driver/mqtt/mqttreporter.py
  zuul/driver/pagure/pagureconnection.py
  zuul/driver/timer/__init__.py
  zuul/driver/zuul/__init__.py
  zuul/model.py
  zuul/rpclistener.py
Due: tox-py35, tox-py36

Update xterm to >= 3.14.5
  web/package.json
  web/src/pages/Stream.jsx
  web/yarn.lock
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Display artifacts in build page
  web/src/containers/build/Artifact.jsx
  web/src/containers/build/Build.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Fix sphinx error
  doc/source/developer/docs.rst
Due: tox-py35, tox-py36

Add log browsing to build page
  web/.eslintrc
  web/src/actions/build.js
  web/src/actions/logfile.js
  web/src/containers/build/Build.jsx
  web/src/containers/build/Manifest.jsx
  web/src/containers/build/View.jsx
  web/src/index.css
  web/src/pages/View.jsx
  web/src/reducers/build.js
  web/src/reducers/index.js
  web/src/reducers/logfile.js
  web/src/routes.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Move artifacts to their own section
  web/src/containers/build/Artifact.jsx
  web/src/containers/build/Build.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Return dependency cycle failure to user
  tests/unit/test_cross_crd.py
  tests/unit/test_gerrit_crd.py
  tests/unit/test_gerrit_legacy_crd.py
  zuul/manager/__init__.py
  zuul/manager/dependent.py
  zuul/manager/independent.py
Due: tox-py35, tox-py36

Fix reference pipelines syntax coloration for Pagure driver
  doc/source/admin/drivers/pagure.rst
  doc/source/admin/examples/zuul-config/zuul.d/pagure-reference-pipelines.yaml
Due: tox-py35, tox-py36

Add change replacement field in doc for start-message
  doc/source/user/config.rst
Due: tox-py35, tox-py36

Improve SQL query performance in some cases
  tests/unit/test_connection.py
  zuul/driver/sql/alembic/versions/e0eda5d09eae_add_uuid_indexes.py
  zuul/driver/sql/sqlconnection.py
Due: tox-py35, tox-py36

Remember tab location on build page
  web/src/containers/build/Build.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Use base 1 line number anchors in log view
  web/src/containers/build/View.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Builds page - Fix bad labels display
  web/src/pages/Nodes.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Add severity filtering to logs
  web/src/actions/logfile.js
  web/src/containers/build/Manifest.jsx
  web/src/containers/build/View.jsx
  web/src/pages/View.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Colorize log severity
  web/src/containers/build/View.jsx
  web/src/index.css
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Add raw links to log manifest
  web/src/containers/build/Manifest.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Rename view to logfile
  web/src/containers/build/Manifest.jsx
  web/src/containers/logfile/LogFile.jsx
  web/src/pages/LogFile.jsx
  web/src/routes.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Zuul CLI: allow access via REST
  doc/source/admin/client.rst
  doc/source/admin/components.rst
  doc/source/user/client-user.rst
  doc/source/user/index.rst
  etc/zuul.conf-sample
  releasenotes/notes/admin_web_api-1331c81070a3e67f.yaml
  zuul/cmd/client.py
  zuul/rpcclient.py
Due: tox-py35, tox-py36

Add Authorization Rules configuration
  etc/zuul.conf-sample
  requirements.txt
  tests/base.py
  tests/fixtures/config/authorization/rules/rules.yaml
  tests/fixtures/config/authorization/single-tenant/git/common-config/playbooks/nonvoting-project-merge.yaml
  tests/fixtures/config/authorization/single-tenant/git/common-config/playbooks/nonvoting-project-test1.yaml
  tests/fixtures/config/authorization/single-tenant/git/common-config/playbooks/nonvoting-project-test2.yaml
  tests/fixtures/config/authorization/single-tenant/git/common-config/playbooks/project-merge.yaml
  tests/fixtures/config/authorization/single-tenant/git/common-config/playbooks/project-post.yaml
  tests/fixtures/config/authorization/single-tenant/git/common-config/playbooks/project-test1.yaml
  tests/fixtures/config/authorization/single-tenant/git/common-config/playbooks/project-test2.yaml
  tests/fixtures/config/authorization/single-tenant/git/common-config/playbooks/project-testfile.yaml
  tests/fixtures/config/authorization/single-tenant/git/common-config/playbooks/project1-project2-integration.yaml
  tests/fixtures/config/authorization/single-tenant/git/common-config/zuul.yaml
  tests/fixtures/config/authorization/single-tenant/git/org_project/README
  tests/fixtures/config/authorization/single-tenant/git/org_project1/README
  tests/fixtures/config/authorization/single-tenant/git/org_project2/README
  tests/fixtures/config/authorization/single-tenant/main.yaml
  tests/fixtures/config/tenant-parser/authorizations.yaml
  tests/unit/test_configloader.py
  zuul/cmd/web.py
  zuul/configloader.py
  zuul/lib/auth.py
  zuul/model.py
  zuul/web/__init__.py
Due: zuul-stream-functional, tox-py35, tox-py36

Web: plug the authorization engine
  doc/source/admin/components.rst
  doc/source/admin/tenant-scoped-rest-api.rst
  doc/source/admin/tenants.rst
  etc/zuul.conf-sample
  releasenotes/notes/admin_web_api-1331c81070a3e67f.yaml
  tests/base.py
  tests/fixtures/config/authorization/rules/rules.yaml
  tests/fixtures/config/authorization/single-tenant/main.yaml
  tests/fixtures/zuul-admin-web-no-override.conf
  tests/unit/test_configloader.py
  tests/unit/test_scheduler.py
  tests/unit/test_web.py
  zuul/cmd/web.py
  zuul/configloader.py
  zuul/driver/auth/jwt.py
  zuul/lib/auth.py
  zuul/rpclistener.py
  zuul/web/__init__.py
Due: tox-py35, tox-py36

js: correct action names
  web/src/actions/build.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

js: don't transform json logfiles
  web/src/actions/logfile.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Attempt to report CORS and related errors
  web/src/actions/build.js
  web/src/actions/errors.js
  web/src/actions/logfile.js
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Cleanup extra /'s in manifest render view
  web/src/containers/build/Manifest.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Handle artifacts without metadata on build page
  web/src/containers/build/Artifact.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test
