Repository wikimedia/integration-zuul: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-stream-functional, zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

zuul-stream-functional:
  parent: multinode
  nodeset: zuul-functional-temp-master
  pre-run: playbooks/zuul-stream/pre.yaml
  run: playbooks/zuul-stream/functional.yaml
  post-run:
  - playbooks/zuul-stream/post.yaml
  - playbooks/zuul-stream/post-ara.yaml
  required-projects:
  - openstack/ara

zuul-build-dashboard:
  parent: build-javascript-content
  success-url: npm/html/
  vars:
    javascript_content_dir: ../zuul/web/static
    zuul_work_dir: '{{ zuul.project.src_dir }}/web'
    zuul_api_url: https://zuul.openstack.org
  run: playbooks/dashboard/run.yaml

zuul-build-dashboard-multi-tenant:
  parent: zuul-build-dashboard
  vars:
    zuul_api_url: https://softwarefactory-project.io/zuul

tox-py36:
  nodeset: ubuntu-bionic

nodejs-npm-run-test:
  vars:
    node_version: 8
    zuul_work_dir: '{{ zuul.project.src_dir }}/web'
  success-url: npm/reports/bundle.html

web: logfile scroll into view a bit more
  web/src/pages/LogFile.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

web: logfile do not use anchor for line selection
  web/src/containers/logfile/LogFile.jsx
  web/src/index.css
  web/src/pages/LogFile.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

web: logfile support multi line selection through shift-click
  web/src/containers/logfile/LogFile.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

github: properly exist when failing to get a pull request
  zuul/driver/github/githubconnection.py
Due: tox-py35, tox-py36

web: logfile remember if initial scroll was performed
  web/src/pages/LogFile.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Collect more information from quickstart failures
  doc/source/admin/examples/playbooks/wait-to-start-gearman.sh
  doc/source/admin/examples/playbooks/wait-to-start.sh
  playbooks/quick-start/post.yaml
Due: tox-py35, tox-py36

web: extract pure functions from the TaskOutput component
  web/src/actions/build.js
  web/src/actions/build.test.js
  web/src/containers/build/Console.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Include ref info in smtp reporter subjects
  zuul/driver/smtp/smtpreporter.py
Due: tox-py35, tox-py36

Add Tristan to Zuul Maintainers
  doc/source/governance.rst
Due: tox-py35, tox-py36

manager: specify report failure in logs
  zuul/manager/__init__.py
Due: tox-py35, tox-py36

Overriding max. starting builds.
  doc/source/admin/components.rst
  releasenotes/notes/max-starting-builds-config-2a127fbfb46460c5.yaml
  tests/unit/test_executor.py
  zuul/executor/sensors/startingbuilds.py
  zuul/executor/server.py
Due: tox-py35, tox-py36

Write json log file by seeking and appending
  zuul/ansible/base/callback/zuul_json.py
Due: zuul-stream-functional, tox-py35, tox-py36

Improve visualization retry attempts in UI
  web/src/containers/status/ChangePanel.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Annotate QueueItem logger
  zuul/model.py
Due: tox-py35, tox-py36

Make files matcher match changes with no files
  releasenotes/notes/file-matcher-pass-when-no-files-f3b4466d8107895e.yaml
  tests/unit/test_change_matcher.py
  zuul/change_matcher.py
  zuul/model.py
Due: tox-py35, tox-py36

Document js tool installation in scratch doc
  doc/source/admin/zuul_install.rst
  tools/install-js-tools.sh
Due: tox-py35, tox-py36

Set git user config in from scratch document
  doc/source/admin/zuul-from-scratch.rst
Due: tox-py35, tox-py36

bindep: add unzip and bzip2 for rpm platform
  bindep.txt
Due: tox-py35, tox-py36

Fix weak dependencies to work with child_jobs
  tests/fixtures/config/data-return/git/common-config/playbooks/data-return-a.yaml
  tests/fixtures/config/data-return/git/common-config/playbooks/data-return-b.yaml
  tests/fixtures/config/data-return/git/common-config/playbooks/data-return-c.yaml
  tests/fixtures/config/data-return/git/common-config/playbooks/data-return-cd.yaml
  tests/fixtures/config/data-return/git/common-config/playbooks/data-return-d.yaml
  tests/fixtures/config/data-return/git/common-config/zuul.yaml
  tests/fixtures/config/data-return/git/org_project-soft/README
  tests/fixtures/config/data-return/main.yaml
  tests/unit/test_v3.py
  zuul/model.py
Due: tox-py35, tox-py36

Apply changes to command module from ansible 2.6
  zuul/ansible/2.5/library/command.py
  zuul/ansible/base/library/command.py
Due: zuul-stream-functional, tox-py35, tox-py36

Make json outfile seeking clearer
  zuul/ansible/base/callback/zuul_json.py
Due: zuul-stream-functional, tox-py35, tox-py36

Add reference pipelines file for Gerrit driver
  doc/source/admin/drivers/gerrit.rst
  doc/source/admin/examples/zuul-config/zuul.d/gerrit-reference-pipelines.yaml
Due: tox-py35, tox-py36

Check refs and revs for repo needing updates
  tests/unit/test_merger_repo.py
  zuul/merger/merger.py
Due: tox-py35, tox-py36

Update heuristing of parallel starting builds.
  tests/unit/test_executor.py
  zuul/executor/sensors/startingbuilds.py
Due: tox-py35, tox-py36

web: test trailing slash are removed from renderTree
  web/src/actions/build.js
  web/src/actions/build.test.js
  web/src/containers/build/Manifest.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Add linter rule disallowing use of var
  web/.eslintrc
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Add release note for bug fix to test correct commit
  releasenotes/notes/test-correct-commit-ea2921c46e03017d.yaml
Due: tox-py35, tox-py36

web: fix connections list github base_url
  tests/unit/test_web.py
  zuul/driver/github/githubconnection.py
Due: tox-py35, tox-py36

executor: add merge_jobs options to disable gearman merge jobs
  doc/source/admin/components.rst
  releasenotes/notes/executor-merger-f853f2f717ea4640.yaml
  zuul/executor/server.py
Due: tox-py35, tox-py36

Better error handling for the PagureAPIClient
  tests/base.py
  zuul/driver/pagure/pagureconnection.py
Due: tox-py35, tox-py36

Fix "Set failed, unreachable, skipped statuses in json plugin"
  tests/fixtures/config/job-output/git/common-config/playbooks/job-output.yaml
  tests/unit/test_v3.py
  zuul/ansible/base/callback/zuul_json.py
Due: zuul-stream-functional, tox-py35, tox-py36

Web: rely on new attributes when determining task failure
  web/src/actions/build.js
  web/src/actions/build.test.js
  web/src/containers/build/Console.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Record handler tasks in json job output
  tests/fixtures/config/job-output/git/common-config/playbooks/job-output.yaml
  tests/unit/test_v3.py
  zuul/ansible/base/callback/zuul_json.py
Due: zuul-stream-functional, tox-py35, tox-py36

Fix timestamp race occurring on fast systems
  tests/unit/test_client.py
Due: tox-py35, tox-py36

Fix: prevent usage of hashi_vault
  zuul/ansible/2.5/lookup/hashi_valut.py
  zuul/ansible/2.5/lookup/hashi_valut.pyi
  zuul/ansible/2.5/lookup/hashi_vault.py
  zuul/ansible/2.5/lookup/hashi_vault.pyi
  zuul/ansible/2.6/lookup/hashi_valut.py
  zuul/ansible/2.6/lookup/hashi_valut.pyi
  zuul/ansible/2.6/lookup/hashi_vault.py
  zuul/ansible/2.6/lookup/hashi_vault.pyi
  zuul/ansible/2.7/lookup/hashi_valut.py
  zuul/ansible/2.7/lookup/hashi_valut.pyi
  zuul/ansible/2.7/lookup/hashi_vault.py
  zuul/ansible/2.7/lookup/hashi_vault.pyi
  zuul/ansible/2.8/lookup/hashi_valut.py
  zuul/ansible/2.8/lookup/hashi_valut.pyi
  zuul/ansible/2.8/lookup/hashi_vault.py
  zuul/ansible/2.8/lookup/hashi_vault.pyi
  zuul/ansible/base/lookup/hashi_valut.pyi
  zuul/ansible/base/lookup/hashi_vault.py
  zuul/ansible/base/lookup/hashi_vault.pyi
Due: zuul-stream-functional, tox-py35, tox-py36

Pass zuul_success to cleanup playbooks
  tests/base.py
  tests/fixtures/config/cleanup-playbook/git/common-config/playbooks/cleanup.yaml
  tests/unit/test_v3.py
  zuul/executor/server.py
Due: tox-py35, tox-py36

Remove auto-add of localhost from unit test inventory
  tests/base.py
  tests/fixtures/config/ansible/git/common-config/zuul.yaml
  tests/fixtures/config/cleanup-playbook/git/common-config/zuul.yaml
  tests/fixtures/config/gerrit-file-comments/git/common-config/zuul.yaml
  tests/fixtures/config/job-output/git/common-config/zuul.yaml
  tests/fixtures/config/job-pause/git/common-config/zuul.yaml
  tests/fixtures/config/job-pause2/git/common-config/zuul.yaml
  tests/fixtures/config/line-mapping/git/common-config/zuul.yaml
  tests/fixtures/config/post-playbook/git/common-config/zuul.yaml
  tests/fixtures/config/pre-playbook/git/common-config/zuul.yaml
  tests/fixtures/config/provides-requires-pause/git/common-config/zuul.yaml
  tests/fixtures/config/secret-leaks/git/common-config/zuul.yaml
  tests/fixtures/config/secrets/git/common-config/zuul.yaml
  tests/fixtures/config/sql-driver/git/common-config/zuul.yaml
  tests/fixtures/config/streamer/git/common-config/zuul.yaml
  tests/unit/test_v3.py
Due: tox-py35, tox-py36

Discuss executor-only jobs, add unit-test
  doc/source/user/config.rst
  tests/fixtures/config/inventory/git/common-config/playbooks/executor-only-inventory.yaml
  tests/fixtures/config/inventory/git/common-config/zuul.yaml
  tests/fixtures/config/inventory/git/org_project/.zuul.yaml
  tests/unit/test_inventory.py
Due: tox-py35, tox-py36

Fix 0018-wmf-ignore-submit-error-on-merged-change
  debian/changelog
  debian/patches/0018-wmf-ignore-submit-error-on-merged-change.patch
  debian/patches/0020-Remove-p-from-info-refs-call.patch
  debian/patches/0022-WMF-backport-gerrit-use-change-when-querying-changes.patch
Due: tox-py35, tox-py36

Path conditions:
  zuul-stream-functional: any of: zuul/ansible/.*, playbooks/zuul-stream/.*, requirements.txt
  zuul-build-dashboard: any of: web/.*, playbooks/dashboard/.*
  zuul-build-dashboard-multi-tenant: any of: web/.*, playbooks/dashboard/.*
  tox-py35: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py36: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  nodejs-npm-run-test: any of: web/.*
