Repository wikimedia/integration-zuul: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-stream-functional, zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

zuul-stream-functional:
  parent: multinode
  nodeset: zuul-functional-temp-master
  pre-run: playbooks/zuul-stream/pre.yaml
  run: playbooks/zuul-stream/functional.yaml
  post-run:
  - playbooks/zuul-stream/post.yaml
  - playbooks/zuul-stream/post-ara.yaml
  required-projects:
  - openstack/ara

zuul-build-dashboard:
  parent: build-javascript-content
  success-url: npm/html/
  vars:
    javascript_content_dir: ../zuul/web/static
    zuul_work_dir: '{{ zuul.project.src_dir }}/web'
    zuul_api_url: https://zuul.openstack.org
  run: playbooks/dashboard/run.yaml

zuul-build-dashboard-multi-tenant:
  parent: zuul-build-dashboard
  vars:
    zuul_api_url: https://softwarefactory-project.io/zuul

tox-py36:
  nodeset: ubuntu-bionic

nodejs-npm-run-test:
  vars:
    node_version: 8
    zuul_work_dir: '{{ zuul.project.src_dir }}/web'
  success-url: npm/reports/bundle.html

Be more specific with remaining time
  web/src/containers/status/ChangePanel.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Update screenshot for gerrit profile in quick-start
  doc/source/images/profile.png
Due: tox-py35, tox-py36

Fix path in quick-start localtest
  playbooks/quick-start/main.yaml
Due: tox-py35, tox-py36

Handle draft pull requests in canMerge
  tests/base.py
  tests/fakegithub.py
  tests/unit/test_github_driver.py
  zuul/driver/github/githubconnection.py
Due: tox-py35, tox-py36

Add client_id to RPC client
  zuul/cmd/client.py
  zuul/lib/fingergw.py
  zuul/rpcclient.py
  zuul/web/__init__.py
Due: tox-py35, tox-py36

Speed up test_inventory
  tests/unit/test_inventory.py
Due: tox-py35, tox-py36

Log duration of AnsibleJob.execute()
  zuul/executor/server.py
Due: tox-py35, tox-py36

zuul-manage-ansible: add validate option
  zuul/cmd/manage_ansible.py
Due: tox-py35, tox-py36

gear: remove support for custom MASS_DO packet
  zuul/cmd/scheduler.py
  zuul/lib/gearserver.py
Due: tox-py35, tox-py36

Allow skipping child jobs from paused job again
  tests/fixtures/config/data-return/git/common-config/playbooks/paused-data-return-child-jobs.yaml
  tests/fixtures/config/data-return/git/common-config/zuul.yaml
  tests/fixtures/config/data-return/git/org_project6/README
  tests/fixtures/config/data-return/main.yaml
  tests/unit/test_v3.py
  zuul/model.py
Due: tox-py35, tox-py36

Start ignoring certain Gerrit events
  zuul/driver/gerrit/gerritconnection.py
Due: tox-py35, tox-py36

Test that retries don't trigger fail-fast
  tests/unit/test_scheduler.py
Due: tox-py35, tox-py36

Protect prime_installation_map with mutex
  zuul/driver/github/githubconnection.py
Due: tox-py35, tox-py36

executor: avoid duplicate debug logs
  zuul/executor/server.py
Due: tox-py35, tox-py36

Add gcloud_service auth option for Gerrit driver
  doc/source/reference/drivers/gerrit.rst
  zuul/driver/gerrit/gcloudauth.py
  zuul/driver/gerrit/gerritconnection.py
Due: tox-py35, tox-py36

Fix github app authentication to work with checks API endpoints
  zuul/driver/github/githubconnection.py
Due: tox-py35, tox-py36

Dockerfile: create a zuul user with uid 10001
  Dockerfile
Due: tox-py35, tox-py36

executor: ansible does not need cowsay
  zuul/executor/server.py
Due: tox-py35, tox-py36

Add some debug lines for provides/requires
  zuul/model.py
Due: tox-py35, tox-py36

Add build history link to summary
  web/src/containers/build/Summary.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Cap cheroot to fix issues with concurrent requests
  requirements.txt
Due: zuul-stream-functional, tox-py35, tox-py36

Add google-cloud-storage to executor ansible
  zuul/lib/ansible-config.conf
Due: tox-py35, tox-py36

Gerrit: poll for merged changes if no stream events
  tests/fixtures/zuul-gerrit-no-stream.conf
  tests/unit/test_gerrit.py
  zuul/driver/gerrit/gerritconnection.py
Due: tox-py35, tox-py36

web: humanize time durations
  web/package.json
  web/src/containers/build/Buildset.jsx
  web/src/containers/build/Console.jsx
  web/src/containers/build/Summary.jsx
  web/src/containers/status/ChangePanel.jsx
  web/src/index.css
  web/src/pages/Builds.jsx
  web/yarn.lock
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

ansible manager: only failed if last ansible failed
  tests/unit/test_lib_ansible.py
  zuul/lib/ansible.py
Due: tox-py35, tox-py36

Increase timeout of zuul-build-image
  .zuul.yaml
Due: tox-py35, tox-py36

Correct info log on item report
  zuul/manager/__init__.py
Due: tox-py35, tox-py36

Spec for allowing circular dependencies
  doc/source/reference/developer/specs/circular-dependencies.rst
  doc/source/reference/developer/specs/index.rst
Due: tox-py35, tox-py36

Add disallowed-labels tenant option
  doc/source/reference/tenants.rst
  releasenotes/notes/disallowed-labels-451a38dfd5b1bbae.yaml
  tests/fixtures/config/multi-tenant/main.yaml
  tests/unit/test_v3.py
  tests/unit/test_web.py
  zuul/configloader.py
  zuul/rpclistener.py
  zuul/web/__init__.py
Due: tox-py35, tox-py36

Extract the watcher from git driver
  tests/unit/test_git_driver.py
  zuul/driver/git/gitconnection.py
  zuul/driver/git/gitwatcher.py
Due: tox-py35, tox-py36

add_host: enable using ansible_fqdn and ansible_private_key_file
  zuul/ansible/base/action/add_host.py
Due: zuul-stream-functional, tox-py35, tox-py36

Add Zuul's event id to Ansible inventory
  doc/source/reference/jobs.rst
  tests/unit/test_inventory.py
  zuul/executor/client.py
Due: tox-py35, tox-py36

Gerrit: add polling support for refs
  tests/base.py
  tests/fixtures/layouts/gerrit-poll-post.yaml
  tests/unit/test_gerrit.py
  zuul/driver/gerrit/gerritconnection.py
Due: tox-py35, tox-py36

Extract allow/disallow filter into util function
  zuul/configloader.py
  zuul/lib/re2util.py
  zuul/web/__init__.py
Due: tox-py35, tox-py36

Offload setRefs to multiple processes
  zuul/executor/server.py
  zuul/merger/merger.py
Due: tox-py35, tox-py36

Don't run jobs if only their file matchers are updated
  tests/unit/test_scheduler.py
  tests/unit/test_web.py
  web/src/containers/job/JobVariant.jsx
  zuul/model.py
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Fix test race with paused build
  tests/base.py
Due: tox-py35, tox-py36

kubernetes-operator: add job volume to the spec
  doc/source/reference/developer/specs/kubernetes-operator.rst
Due: tox-py35, tox-py36

Cap virtualenv to <20.0.0
  requirements.txt
Due: zuul-stream-functional, tox-py35, tox-py36

Allow more k8s actions in untrusted context
  zuul/ansible/base/action/add_host.py
  zuul/ansible/base/action/normal.py
Due: zuul-stream-functional, tox-py35, tox-py36

Path conditions:
  zuul-stream-functional: any of: zuul/ansible/.*, playbooks/zuul-stream/.*, requirements.txt
  zuul-build-dashboard: any of: web/.*, playbooks/dashboard/.*
  zuul-build-dashboard-multi-tenant: any of: web/.*, playbooks/dashboard/.*
  tox-py35: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py36: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  nodejs-npm-run-test: any of: web/.*
