Repository wikimedia/integration-zuul: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-stream-functional, zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

zuul-stream-functional:
  parent: multinode
  nodeset: zuul-functional-temp-master
  pre-run: playbooks/zuul-stream/pre.yaml
  run: playbooks/zuul-stream/functional.yaml
  post-run:
  - playbooks/zuul-stream/post.yaml
  - playbooks/zuul-stream/post-ara.yaml
  required-projects:
  - openstack/ara

zuul-build-dashboard:
  parent: build-javascript-content
  success-url: npm/html/
  vars:
    javascript_content_dir: ../zuul/web/static
    zuul_work_dir: '{{ zuul.project.src_dir }}/web'
    zuul_api_url: https://zuul.openstack.org
  run: playbooks/dashboard/run.yaml

zuul-build-dashboard-multi-tenant:
  parent: zuul-build-dashboard
  vars:
    zuul_api_url: https://softwarefactory-project.io/zuul

tox-py36:
  nodeset: ubuntu-bionic

nodejs-npm-run-test:
  vars:
    node_version: 8
    zuul_work_dir: '{{ zuul.project.src_dir }}/web'
  success-url: npm/reports/bundle.html

Remove pbr from zuul
  setup.py
  zuul/cmd/__init__.py
  zuul/version.py
Due: tox-py35, tox-py36

Add logs spec
  doc/source/developer/specs/index.rst
  doc/source/developer/specs/logs.rst
Due: tox-py35, tox-py36

web: add tags to jobs list
  web/src/containers/jobs/Jobs.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

tox: Integrate tox-docker
  TESTING.rst
  tests/base.py
  tox.ini
Due: tox-py35, tox-py36

Use a more visible selection color
  web/src/index.css
  web/src/pages/Stream.jsx
Due: zuul-build-dashboard, zuul-build-dashboard-multi-tenant, tox-py35, tox-py36, nodejs-npm-run-test

Cleanup executor specific requirements
  Dockerfile
  setup.cfg
Due: tox-py35, tox-py36

Add proper __repr__ to merger repo
  tests/unit/test_merger_repo.py
  zuul/merger/merger.py
Due: tox-py35, tox-py36

gerrit: Add some quoting in 'gerrit query' commands
  tests/base.py
  tests/unit/test_zuultrigger.py
  zuul/driver/gerrit/gerritconnection.py
  zuul/driver/gerrit/gerritsource.py
Due: tox-py35, tox-py36

WMF: pin requirements to what is deployed
  requirements.txt
Due: zuul-stream-functional, tox-py35, tox-py36

Ensure patchset comparison in the case of different types
  zuul/source/gerrit.py
Due: tox-py35, tox-py36

WMF: drop requirement ordereddict
  requirements.txt
Due: zuul-stream-functional, tox-py35, tox-py36

Don't merge queues if the common job is 'noop'
  tests/fixtures/layout-noop-queues.yaml
  tests/test_scheduler.py
  zuul/scheduler.py
Due: tox-py35, tox-py36

Fix missing mutex release when aborting builds
  tests/fixtures/layout-mutex-reconfiguration.yaml
  tests/test_scheduler.py
  zuul/scheduler.py
Due: tox-py35, tox-py36

WMF: constraint apscheduler to <3.1.0
  requirements.txt
Due: zuul-stream-functional, tox-py35, tox-py36

Cloner: Implement cache-no-hardlinks argument
  doc/source/cloner.rst
  zuul/cmd/cloner.py
  zuul/lib/cloner.py
Due: tox-py35, tox-py36

wmf: ignore submit error on merged change
  zuul/connection/gerrit.py
Due: tox-py35, tox-py36

WMF: reduce Gerrit replication delay from 300 to 15 secs
  zuul/source/gerrit.py
Due: tox-py35, tox-py36

Ensure the repository configuration lock is released
  zuul/merger/merger.py
Due: tox-py35, tox-py36

wmf: change number must be a string when formatting
  tests/test_model.py
  zuul/model.py
Due: tox-py35, tox-py36

wmf: Show project in build description
  zuul/scheduler.py
Due: tox-py35, tox-py36

Gerrit trailing delay is now configurable
  doc/source/connections.rst
  etc/zuul.conf-sample
  tests/base.py
  zuul/connection/gerrit.py
Due: tox-py35, tox-py36

WMF: pin voluptuous<0.10
  requirements.txt
Due: zuul-stream-functional, tox-py35, tox-py36

Fix change number extraction on new enough Gerrit master
  zuul/connection/gerrit.py
Due: tox-py35, tox-py36

zuul-cloner: recognizes bare repos in cache dir
  tests/test_cloner.py
  zuul/lib/cloner.py
Due: tox-py35, tox-py36

Do not import paramiko before daemonization
  zuul/cmd/__init__.py
Due: tox-py35, tox-py36

WMF: install zuul-clear-refs
  setup.cfg
Due: tox-py35, tox-py36

Add __repr__ to a few classes
  tests/test_connection.py
  tests/test_reporter.py
  tests/test_source.py
  tests/test_trigger.py
  zuul/connection/__init__.py
  zuul/reporter/__init__.py
  zuul/source/__init__.py
  zuul/trigger/__init__.py
Due: tox-py35, tox-py36

Remove /p/ from /info/refs call
  zuul/connection/gerrit.py
Due: tox-py35, tox-py36

Update notes for submitted changes
  5e6a12b80d6f2373fb076b55c5b4a62c738fa8c5
Due: tox-py35, tox-py36

Update GitPython to 2.1.11
  requirements.txt
Due: zuul-stream-functional, tox-py35, tox-py36

gerrit: query solely for change not anything
  zuul/source/gerrit.py
Due: tox-py35, tox-py36

Update notes for submitted changes
  08878a53e251ef3bad3e28607cb38ea4eb4edddf
Due: tox-py35, tox-py36

Path conditions:
  zuul-stream-functional: any of: zuul/ansible/.*, playbooks/zuul-stream/.*, requirements.txt
  zuul-build-dashboard: any of: web/.*, playbooks/dashboard/.*
  zuul-build-dashboard-multi-tenant: any of: web/.*, playbooks/dashboard/.*
  tox-py35: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  tox-py36: unless all of: zuul/cmd/migrate.py, playbooks/zuul-migrate/.*
  nodejs-npm-run-test: any of: web/.*
